{% extends "templates/index.html" %}
{% load static %}
{% block contenidoQueCambia %}
{% if formulario.errors %}
<p style="color:red">Hay algo mal</p>
{% endif %}

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}






<h4><p>Buscar Equipo</p>
<form action="{% url 'buscar_equipos' %}" method="GET"> 
 <input type="text" name="equipos" id="equipos">
 
 <input type="submit" value="buscar">
</form>
</h4>
<h4>
   
    <h3>{% for equipo in equipos %}</h3>
    <div style="overflow-x:auto;"></div>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #DDD;
        }
        
        tr:hover {background-color: #D6EEEE;}
        </style>
    <table style="max-width:100%;height:auto;">
        <h1 style="background-color:DodgerBlue;">{{ equipo.name }}</h1>
        <th>Origen</th>
        <th>Jefe de Equipo</th>
        <th>Chasis</th>
        <th>Unidad de Potencia</th>
        <style>
            table, th, td {
              border:3px solid black;
            }
            </style>
            <body>
            
   
 
        <tr>
            <td>{{ equipo.base }}</td>
            <td>{{ equipo.chief }}</td>
            <td>{{ equipo.chassis }}</td>
            <td>{{ equipo.powerunit }}</td>
        </tr>
          
    </table>
</div>
    <img src="{{ equipo.Foto.url }}" alt="imagen" width="1000" height="1000" style="max-width:100%;height:auto;">
    <hr>
    {% if request.user.is_superuser %} 
    <button>
        <a href="{% url 'eliminarEquipos' equipo.name %}" > Eliminar</a> 
    </button>

    <button>
        <a href="{% url 'editarEquipo' equipo.name %}" > Editar</a> 
    </button>
    {% endif %}
    {% endfor %}
    {% if request.user.is_superuser %}
    <h4><p>Agregar Equipos</p>
    <form action="{% url 'equiposForm' %}" method="GET"> 
        <input type="submit" name="agregar" id="equipos">
     
       </form>
       {% endif %}
</h4>
{% endblock %}