{% extends "templates/index.html" %}
{% load static %}
{% block contenidoQueCambia %}
{% if formulario.errors %}
<p style="color:red">Hay algo mal</p>
{% endif %}

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}






<h4><p>Buscar Pista</p>
<form action="{% url 'buscar_pistas' %}" method="GET"> 
 <input type="text" name="pistas" id="pistas">
 
 <input type="submit" value="buscar">
</form>
</h4>
<h4>
 
    <h3>{% for pista in pistas %}</h3>
    <li>{{ pista }}</li>
    {% if request.user.is_superuser %}
    <button>
        <a href="{% url 'eliminarPista' pista.name %}" > Eliminar</a> 
    </button>

    <button>
        <a href="{% url 'editarPista' pista.name %}" > Editar</a> 
    </button>
    {% endif %}
    {% endfor %}
    {% if request.user.is_superuser %}
    <h4><p>Agregar Pista</p>
    <form action="{% url 'pistaForm' %}" method="GET"> 
        <input type="submit" name="agregar" id="pilotos">
     
       </form>
{% endif %}
</h4>
{% endblock %}