{% extends "templates/index.html" %}
{% load static %}
{% block contenidoQueCambia %}
{% if formulario.errors %}
<p style="color:red">Hay algo mal</p>
{% endif %}

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}






<h4><p>Buscar Pista</p>
<form action="{% url 'buscar_pistas' %}" method="GET"> 
 <input type="text" name="pistas" id="pistas">
 
 <input type="submit" value="buscar">
</form>
</h4>
<h4>
 
   <h3>{% for pista in pistas %}</h3>
    <div style="overflow-x:auto;"></div>
    <table style="max-width:100%;height:auto;">
        <h1 style="background-color:DodgerBlue;"> {{ pista.name }}</h1>
        <th>Pais</th>
        <th>Largo</th>
        <th>Record</th>
       
        <style>
            table, th, td {
              border:3px solid black;
            }
            </style>
            <body>
            
   
 
        <tr>
        
        <td>{{ pista.country }}</td>
        <td>{{ pista.length }}</td>
        <td>{{ pista.record }}</td>
        
        </tr>
          
    </table>
</div>

    <img src="{{ pista.Foto.url }}" alt="imagen" width="1000" height="1000" style="max-width:100%;height:auto;">
    <hr>
    {% if request.user.is_superuser %}
    <button>
        <a href="{% url 'eliminarPista' pista.name %}" > Eliminar</a> 
    </button>

    <button>
        <a href="{% url 'editarPista' pista.name %}" > Editar</a> 
    </button>
    {% endif %}
    {% endfor %}
    {% if request.user.is_superuser %}
    <h4><p>Agregar Pista</p>
    <form action="{% url 'pistaForm' %}" method="GET"> 
        <input type="submit" name="agregar" id="pilotos">
     
       </form>
{% endif %}
</h4>
{% endblock %}