{% extends "templates/index.html" %}
{% load static %}
{% block contenidoQueCambia %}
{% if formulario.errors %}
<p style="color:red">Hay algo mal</p>
{% endif %}

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}






<h4><p>Buscar Pilotos</p>
<form action="{% url 'buscar_pilotos' %}" method="GET"> 
 <input type="text" name="pilotos" id="pilotos">
 
 <input type="submit" value="buscar">
</form>
</h4>
<h4>

    <h3>{% for piloto in pilotos %}</h3>
    <div style="overflow-x:auto;"></div>
    <table style="max-width:100%;height:auto;">
        <h1 style="background-color:DodgerBlue;">{{ piloto.name }}</h1>
        <th>Equipo</th>
        <th>Pais</th>
        <th>Podios</th>
        <th>Puntos</th>
        <th>Fecha Nacimiento</th>
        <style>
            table, th, td {
              border:3px solid black;
            }
            </style>
            <body>
            
   
 
        <tr>
            <td>{{ piloto.team }}</td>
            <td>{{ piloto.country }}</td>
            <td>{{ piloto.podiums }}</td>
            <td>{{ piloto.points }}</td>
            <td>{{ piloto.Date }}</td>
        </tr>
          
    </table>
</div>
    <img src="{{ piloto.Foto.url }}" alt="imagen" width="1000" height="1000" style="max-width:100%;height:auto;">

    <hr>
      
    {% if request.user.is_superuser %}
    <button>
        <a href="{% url 'eliminarPiloto' piloto.name %}" > Eliminar</a> 
    </button>

    <button>
        <a href="{% url 'editarPiloto' piloto.name %}" > Editar</a> 
    </button>
    {% endif %}
    {% endfor %}
    {% if request.user.is_superuser %}
    <h4><p>Agregar Pilotos</p>
    <form action="{% url 'pilotoForm' %}" method="GET"> 
        <input type="submit" name="agregar" id="pilotos">
     
       </form>
  {% endif %}
</h4>
{% endblock %}