{% extends "templates/index.html" %}
{% load static %}
{% block contenidoQueCambia %}
{% if formulario.errors %}
<p style="color:red">Hay algo mal</p>
{% endif %}

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}






<h4><p>Buscar Blog</p>
<form action="{% url 'buscar_blog' %}" method="GET"> 
 <input type="text" name="blog" id="blog">
 
 <input type="submit" value="buscar">
</form>
</h4>
<h4>
    <h3>{% for blg in blog %}</h3>
    <div style="overflow-x:auto;"></div>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #DDD;
        }
        
        tr:hover {background-color: #D6EEEE;}
        </style>
    <table style="max-width:100%;height:auto;">
        <h1 style="background-color:DodgerBlue;">{{ blg.titulo }}</h1>
        <th>By User:  {{ blg.user }}     <button>
            <a href="{% url 'verblog' blg.titulo %}" > Leer</a> 
        </button></th>
        <style>
            table, th, td {
              border:3px solid black;
            }
            </style>
            <body>
            
   
 
        <tr>
            <td>{{ blg.fecha_post }}</td>
      
        </tr>
          
    </table>
</div>




    
  
    {% if request.user.username == blg.user.username or request.user.is_superuser %}
    <button>
        <a href="{% url 'eliminarblog' blg.titulo %}" > Eliminar </a> 
    </button>
    <button>
        <a href="{% url 'editarblog' blg.titulo %}" > Editar</a> 
    </button>
    {% endif %}

    {% endfor %}

    <h4><p>Agregar Blog</p>
    <form action="{% url 'blogForm' %}" method="GET"> 
        <input type="submit" name="agregar" id="blog">
     
       </form>

</h4>
{% endblock %}