{% extends "templates/index.html" %}
{% load static %}



{% block contenidoQueCambia %}

<h1>-Acerca del Equipo:</h1>
<h5>La web tiene la finalidad de imitar de forma basica, la web original de la F1, teniendo como agregado el sector Blog donde cada usuario puede dejar su mensaje en la web.


   -la vision en las paginas "Equipos", "Pilotos", "Pistas", esta limitada siendo solo posible al administrador modificar los campos, accediendo como (usuario ="admin") (contraseña="admin") al sitio, puede ser editado por formularios o por el admin site /admin
   
   -cualquier usuario puede ver y crear un blog, limitando solo al creador o al administrador editar o eliminar los mensajes.
   
   basta con descargar el archivo, extraer el .zip y abrir la carpeta en el interprete a eleccion seguido del comando
   
   python manage.py run server
   
   
   Este proyecto fue realizado integramente por  Nicolas Videla</h5>


{% endblock %}