{% extends "templates/index.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h1>Resultados de Busqueda</h1>
{% if pistas %}
<ul>
    <h3>{% for pista in pistas %}</h3>
    <table style="width:80%">
        <th>Nombre</th>
        <th>Pais</th>
        <th>Largo</th>
        <th>Record</th>
       <style>
            table, th, td {
              border:4px solid black;
            }
            </style>
            <body>
            
   
 
        <tr>
        <td>{{ pista.name }}</td>
        <td>{{ pista.country }}</td>
        <td>{{ pista.length }}</td>
        <td>{{ pista.record }}</td>
        </tr>
          
    </table>
    <img src="{{ pista.Foto.url }}" alt="imagen" width="1000" height="1000">

    {% endfor %}
</ul>
{% else %}
   <p>No Existe la Pista</p>
{% endif %}
{% endblock %}















