<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/equiposFormulario/" method="post"> {% csrf_token %}
        <p>Nombre: <input type="text" name="Name"></p>
        <p>Equipo: <input type="text" name="Team"></p>
        <p>Pais: <input type="text" name="Country"></p>
        <p>Podios: <input type="text" name="Podiums"></p>
        <p>Puntos: <input type="text" name="Points"></p>
        <p>Nacimiento: <input type="text" name="Date"></p>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>